.container {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    margin-left: 10px;
    margin-top: 10px;
}

.container-filters {
    width:10%;  
}
.container-cards {
    width:90%; 
}