.container {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    margin-top: 10px;
}

.container-filters {
    width:10%;  
}
.container-cards {
    width:90%;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -122px !important;
    margin-top: 0.125rem;
}