
.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
  transition: all 0.7s linear;
}

.card-body {
  padding: 2rem 0 !important;
  background: linear-gradient(180deg, rgba(49,108,244,0.3603816526610645) 1%, rgba(0,0,0,0) 70%);
  
}

.card-text {
  padding: 0.3rem 1rem;
  font-size: 1rem;
  color: black;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.8);
}

.card-title{
  color: black;
}

.text-secondary{
  color: black;
}
